.control {
  &--theme {
    &--hexagonal {
      fill: #fff;
      stroke: #d0d0d8;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;

      svg {
        path {
          transition: 0.3s ease-out;
        }
      }

      @media (max-width: 1024px) {
        font-size: 18px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 1;
        background-color: rgba(#000, 0);
      }

      @media (hover: hover), (-ms-high-contrast: none) {
        &:hover {
          stroke: #ff8b37;
        }
      }

      &:active {
        svg {
          path {
            fill: #fff3eb;
            stroke: #ff8b37;
          }
        }
      }

      &.is-correct {
        svg {
          path {
            fill: #e6faea;
            stroke: #47d867;
          }
        }
      }

      &.is-wrong {
        svg {
          path {
            fill: #fdeeed;
            stroke: #ec6259;
          }
        }
      }
    }
  }
}
