.homepage {
  min-height: 100vh;
  background: #212531;
  background: linear-gradient(to right bottom, #fff 50%, #fff3eb 50%);
  display: flex;
  align-items: center;

  @media (max-width: 940px) {
    flex-direction: column;
  }

  &__image {
    width: 624px;
    height: 367px;

    @media (max-width: 1180px) {
      width: 524px;
    }

    @media (max-width: 640px) {
      width: 288px;
      height: 192px;
      margin-block-start: 95px;
    }
  }

  &__link {
    margin-block-start: 10px;
  }

  &__link-button {
    width: 296px;
    height: 64px;

    @media (max-width: 640px) {
      width: 288px;
      height: 48px;
    }
  }

  &__link-h1 {
    font-weight: 600;
    font-size: 56px;
    color: #1c1c21;
    margin-block-start: 0;
    margin-block-end: 60px;

    @media (max-width: 1180px) {
      font-size: 42px;
    }

    @media (max-width: 940px) {
      text-align: center;
      margin-block-start: 0;
      margin-block-end: 100px;
    }

    @media (max-width: 640px) {
      font-size: 32px;
    }
  }

  &__link-h2 {
    font-weight: 600;
    font-size: 32px;
    color: #1c1c21;
    opacity: 0.5;
    margin-block: 0;

    @media (max-width: 940px) {
      text-align: center;
    }
    @media (max-width: 640px) {
      font-size: 18px;
    }
  }

  &__link-h3 {
    font-weight: 600;
    font-size: 56px;
    color: #1c1c21;
    margin-block-start: 0;
    margin-block-end: 63px;

    @media (max-width: 940px) {
      text-align: center;
    }

    @media (max-width: 640px) {
      font-size: 32px;
    }
  }

  &.final {
    background: #f5f5f7;
  }
}
